@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

:root {
  --primary-gold: #D4AF37;
  --secondry-gold: #f5e8c8;
  --third-gold: #a37814;
  --primary-black: #000000;
  --primary-white: #FFFFFF;
  --secondary-maroon: #7A1212;
  --success-green: #4CAF50;
  --accent-blue: #3D3D8C;
}

body {
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  padding: 0;
}


/* Background gradient */
.registration-page {
  /* background: url("../images/4903975.jpg") no-repeat center center fixed; */
  background-size: cover;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.registration-page2 {
  /* background: url("../images/4903975.jpg") no-repeat center center fixed; */
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.logo-box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.reg-form-container {
  border: 1px solid #d6d7dd;
  border-radius: 15px;
  width: 100%;
  margin-top: 15px;
  margin: auto;
  background-color: var(--primary-white);
  -webkit-box-shadow: -25px 22px 35px 1px rgba(18, 18, 18, 0.15);
  -moz-box-shadow: -25px 22px 35px 1px rgba(18, 18, 18, 0.15);
  box-shadow: -25px 22px 35px 1px rgba(18, 18, 18, 0.15);
}

.box-container {
  border: 1px solid #d6d7dd;
  border-radius: 15px;
  width: 75%;
  margin-top: 15px;
  margin: auto;
  background-color: var(--primary-white);
  -webkit-box-shadow: -25px 22px 35px 1px rgba(18, 18, 18, 0.15);
  -moz-box-shadow: -25px 22px 35px 1px rgba(18, 18, 18, 0.15);
  box-shadow: -25px 22px 35px 1px rgba(18, 18, 18, 0.15);
}

.reg-form-header {
  background-color: var(--secondry-gold);
  color: var(--third-gold);
  padding: 15px 30px;
  border-radius: 15px 15px 0 0;
  font-size: 25px;
  font-weight: 600;
}

.reg-form-header p {
  margin: 0px;
}


/* Card styling */
.card {
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Card header */
.card-header {
  background-color: var(--secondary-maroon);
  color: var(--primary-white);
  padding: 20px 0;
}

.card-header h3 {
  font-size: 24px;
  font-weight: bold;
}

/* Form inputs */
.form-control {
  border-radius: 10px;
  padding: 10px 15px !important;
  font-size: 16px;
  margin-bottom: 10px;
}

/* Focus effect */
.form-control:focus {
  box-shadow: 0 0 5px var(--primary-gold);
  border-color: var(--primary-gold);
}

/* Invalid feedback */
.invalid-feedback {
  display: block;
  font-size: 14px;
  color: #dc3545;
}

/* Button styling */
.btn {
  background-color: var(--accent-blue);
  border: none;
  border-radius: 25px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-gold);
}

.user-info-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 0px 20px;
  padding-top: 20px;
  gap: 10px;
}

.user-info-btn{
  background-color: var(--third-gold);
  color: var(--primary-white);
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  display: inline-flex;
  border: none;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
}

.user-info-btn2{
  background-color: var(--third-gold);
  color: var(--primary-white);
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  width: 100%;
}

.green-tick {
  display: none;
  /* Hidden by default */
  color: green;
  font-size: 24px;
  overflow: hidden;
  position: absolute;
  right: 10px;
  top: 35%;
}

@media (max-width: 789px) {
  .box-container{
    width: 95%;
  }
}

/* Responsive */
@media (max-width: 576px) {
  .card {
    width: 90%;
  }

  .card-header h3 {
    font-size: 20px;
  }
}

